<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link th:href="@{/css/form.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title> Login </title>
</head>
<body>
  <header>
    <nav>
      <a href="#" class="logo"><img th:src="@{/img/Logo.png}" alt=""></a>
      <div class="nave">
        <ul>
            <li class="list">
              <a href="/home"><span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="text">Home</span></a>
            </li>
            <li class="list">
              <a href="#">
                <span class="icon">
                  <ion-icon name="cart-outline"></ion-icon>
                </span>
                <span class="text">Products</span>
              </a>
            </li>
            <li class="list active">
              <a href="#">
                <span class="icon">
                  <ion-icon name="help-outline"></ion-icon>
                </span>
                <span class="text">Form</span>
              </a>
            </li>
            <li class="list">
              <a href="/lista">
                <span class="icon">
                  <ion-icon name="school-outline"></ion-icon>
                </span>
                <span class="text">List</span>
              </a>
            </li>
            <li class="list">
              <a href="#">
                <span class="icon">
                  <ion-icon name="people-circle-outline"></ion-icon>
                </span>
                <span class="text">Contact</span>
              </a>
            </li>
            <div class="indicator"></div>
        </ul>
      </div>
    </nav>
  </header>
  <div th:if="${formUsuarioErrorMessage}" >
    <label th:text="${formUsuarioErrorMessage}"></label>  
    <button type="button">X</button>
  </div>
  <form th:object="${usuario}" th:action="${editMode}?@{/editarUsuario}:@{/formulario}" method="post">
    <div class="container">
      <div class="content">
          <div class="login__inputs">
              <p>
                  <label> Usuario </label>
                  <input th:field="*{usuario}" type="text" placeholder="Ingrese su usuario" required>
              </p>
              <p>
                <label>E-mail</label>
                <input type="email" th:field="*{email}" placeholder="Ingrese email: ej@correo.com" required>
              </p>
              <p>
                <label> DNI </label>
                <input type="number" th:field="*{dni}" placeholder="Ingrese DNI" required>
                <div th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
              </p>
              <p>
                  <label> Contraseña </label>
                  <input type="password" placeholder="Ingrese su contraseña">
              </p>
              <p>
                  <button type="submit" th:value="${band}? 'modificar' : 'registrar' "> Registrar </button>
              </p>
          </div>
          <div class="login__img">
              
          </div>
      </div>
    </div>
  </form>
  <footer>
    
  </footer>
<script th:src="@{js/main.js}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>